body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #f5efe6;
    color: #5a4634;
    text-align: center;
    margin: 0;
    padding: 0;
}
.titulo {
  font-size: 36px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Negritas */
  text-decoration: underline; /* Subrayado */
  text-align: center; /* Centra el texto */
  color: #000; /* Color del texto, puedes cambiarlo si lo prefieres */
}


header {
    background-color: #8b6f47;
    color: white;
    padding: 20px;
    font-size: 24px;
    border-bottom: 5px solid #5a4634;
}

main {
    padding: 20px;
}

footer {
    background-color: #8b6f47;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#tree {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Estilo para los nodos del árbol */
.node {
  
